.sect-container {
    background: #222;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

/* This is the vertical line */
.timeline::after {
    background: white;
    bottom: 0;
    content: '';
    height: 100%;
    margin-left: -5px;
    position: absolute;
    top: 0;
    width: 4px;
    left: 40px;
}

/* Container around content */
.container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    padding-left: 60px;
    padding-right: 5px;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    right: -18px;
    background-color: #fff;
    border: 4px solid #FBBA00;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

 /* Place containers to the right */
.left {
    left: 0;
}

/* Make sure all circles are at the same spot */
.right::after,
.left::after {
    left: 15px;
}


/* Make all right containers behave like the left ones */
.right {
    left: 0;
}

/* The actual content */
.content {
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container::before {
    left: 60px;
}

@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
        justify-content: space-between;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline::after {
        left: 50%;
    }

    /* Place containers to the right */
    .right {
        left: 50%;
    }

/* Place containers to the left */
    .left {
        left: 0;
    }

/* Fix the circles for containers on the left side */
    .right::after {
        left: -25px;
    }

/* Fix the circles for containers on the right side */
    .left::after {
				left: auto;
    }

    .container {
        padding: 20px 40px;
        width: 50%;
    }
}